<!DOCTYPE html>
<html lang="en">
<head>
    {{>head_game}}
    <title>{{title}}</title>
</head>
<body>
<div class="container-fluid d-flex h-100 flex-column">
    {{>alert}}
    <div class="row mx-3">
        <div class="p-2 col-9">
            <h1 class="display-1">Room: {{room}}</h1>
            <p id="user_hook">Logged in as: </p>
        </div>
    </div>
    {{{body}}}
    {{>chat}}
</div>
</body>
</html>
