<div class="row mx-3">
    <div class="p-2 col-9">
        <h1 class="display-1">Room: {{room}}</h1>
        <p id="user_hook">Logged in as: {{username}}</p>
    </div>
    <div class="p-2 col-3">
        <p class="lead">Highscores:</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
            </tr>
            </thead>
            <tbody id="highscore_table">
<!--            <tr>
                <th scope="row">1</th>
                <td>Insert</td>
                <td>Score</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>From</td>
                <td>Localstorage</td>r
            </tr>-->
            </tbody>
        </table>
        <a href="" class="float-right btn btn-danger" id="clear_btn">Clear ALL users</a>
    </div>
    <div class="col-12 mb-2 ml-0" hidden>
        <label for="username_input">Change username:</label>
        <input type="text" value="{{username}}" id="username_input">
        <a href="" class="btn btn-primary" id="username_btn">Enter</a>
    </div>

    <a href="/users/logout" class="btn btn-warning mb-2 ml-0">logout</a>
</div>