<div class="chat_area d-flex m-3 flex-column justify-content-between">

    <div class="m-3" id="chat_messages">
    <h3 class="display-3">Chat Navigation</h3>
        <p class="lead">Enter room name below to navigate to that room</p>
        <p class="text-monospace text-muted">Valid entries: 'Main', 'A', 'B' or 'C' (case insensitive).</p>
    </div>

    <div class="m-3 row">
        <input type="text" id="chat_input" class="flex-fill" placeholder="Enter message...">
        <a href="" class="btn btn-primary flex-shrink-1" id="send_message">Send</a>
    </div>
</div>