<div class="row mx-3">
    <div class="p-2 col-9">
        <h1 class="display-1">Room: {{room}}</h1>
    </div>
    <div class="p-2">
        <p class="lead">Highscores:</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Insert</td>
                <td>Score</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>From</td>
                <td>Localstorage</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>