<div class="col-8 flex-fill" style="border: black 1px solid">
    <div class="row" style="border: blue 1px solid">
        <h3 class="display-3">
            Available game
        </h3>
    </div>
    <div class="row" style="border: blue 1px solid">
        <h3 class="display-3">
            Available game
        </h3>
    </div>
    <div class="row" style="border: blue 1px solid">
        <h3 class="display-3">
            Available game
        </h3>
    </div>
    <div class="row" style="border: blue 1px solid">
        <h3 class="display-3">
            Available game
        </h3>
    </div>
</div>
<div class="col-4 flex-fill" style="border: red solid 1px">
    <div class="row">
        <h3 class="display-3">Users online</h3>
    </div>
    <div>
        <ul id="onlineUsers">

        </ul>
    </div>
</div>
<a class="btn btn-primary" href="/game">[TEMP LINK] Games</a>
